/*Styles for DetailNotifications*/
.card-info-promo {
    position: absolute;
    height: 10rem;
    width: 100%;
    bottom: 10rem;
    color: #fff;
    padding-top: 1rem;
}

.tinto {
    background-color: rgb(144, 0, 0, 0.50);
}

.head-trans {
    background: rgba(232, 218, 218, 0.522) !important;
}

.header #butBack {
    background: url('../images/svg/iconfinder_back_172570.svg') center center no-repeat;
}

.header #butListPromotions {
    background: url('../images/svg/notifications-list.svg') center center no-repeat; 
}