/*Styles for DetailNotifications*/
.card-info-promo {
    position: absolute;
    height: 8rem;
    width: 100%;
    bottom: 8rem;
}

.card-info-detail {
    position: absolute;
    background: rgba(255, 255, 255, 0.70);
    height: 100%;
}

.head-trans {
    background: rgba(232, 218, 218, 0.522) !important;
}

.header #butBack {
    background: url('../images/svg/iconfinder_back_172570.svg') center center no-repeat;
}

.header #butListPromotions {
    background: url('../images/svg/notifications-list.svg') center center no-repeat; 
}