* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("../styles/fonts/Montserrat/Montserrat-Regular.ttf");
}

html, body {
    background: #FFF;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', 'Helvetica', sans-serif !important;
    font-weight: 400;
    font-display: optional;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

body {
    background: #FFF !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
    background: #ececec; 
}

.header {
    width: 100%;
    height: 56px;
    color: #FFF;
    background: #000;
    position: fixed;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 16px 16px 0 16px;
    will-change: transform;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    z-index: 1000; 
}

#dash-panel header {
    z-index: 1000 !important;
    background: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
}

.header__title {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; 
}

.header .headerButton {
    width: 24px;
    height: 24px;
    /*margin-right: 16px;*/
    text-indent: -30000px;
    overflow: hidden;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer; 
}

#butShops {
    background: url('../images/svg/maps-icon.svg') center center no-repeat; 
}

.login-log {
    margin-left: 16px;
    background: url("../images/logo1-sm.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
	max-width:100%;
	max-height:100%;
    overflow:auto;
    /*Rplace for breakppoints*/
    width: 104px;
    height: 40px;
    left:0; right:0;
    top:1rem; bottom:0;
}

.pointers {
    width: 100%;
    max-height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
}

.p-not-dash {
    bottom: 15rem;
}

.text-slider-dash {
    z-index: 1000;
    width: 100%;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 0; */
    bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
}

.dot {
    margin-right: 0.5rem;
    height: 6pt;
    width: 6pt;
    border-radius: 50%;
    display: inline-block;
}

.dot-gray {
    background-color: #AFAFAF;
}

.dot-black {
    background-color: #000000;
}

.container-promotions {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    color: #fff !important;
}

.img-responsive {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
}

.card-info {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 12rem;
    width: 100%;
    bottom: 0px;
}

.card-promotions {
    position: absolute;
    background: #fff !important;
    color: rgb(139, 55, 55);
    height: 3rem;
    width: 100%;
    top: 0px;
}

.card-promotions span {
    font-weight: bold;
}

.card-promotions p {
    margin: 0 !important;
    padding: 0 !important;
}

.card-info .icons > img{
    float: right;
    max-width: 40px;
}

.icons > img {
    max-width: 40px;
    float: right;
}

.left-profile {
    float: left !important;
}

img.nots {
    padding-top: 5px;
}

.dash-icons {
    padding-top: 15px;
}

.card-profile {
    position: absolute;
    height: 4rem;
    width: 100%;
    top: 0rem;
}

.card-shop {
    position: absolute;
    height: 4rem;
    width: 100%;
    top: 4rem;
}

.card-progress {
    position: absolute;
    height: 4rem;
    width: 100%;
    top: 8rem;
}

.card-records {
    position: absolute;
    height: 3.5rem;
    width: 100%;
    top: 10rem;
}

.progress-dione {
    top: 50%;
    position: absolute;
    margin: 0px 1%;
    width: 97%;
    height: 0.5rem !important;
}

.progress-text-data {
    text-align: center;
    display: inline-block;
    position: absolute;
    margin: 0px 1%;
    width: 97%;
    height: 0.5rem !important;
}

.progress-text-span {
    top: 60%;
    margin: 0px 1%;
    position: absolute;
    width: 97%;
    height: 0.8rem !important;
}
.card-profile p, .card-shop p, .card-records p {
    margin-top: 15px;
    padding: 0 !important;
}

.dione-level {
    font-weight: bold;
}

.bg-silver {
    background-color: rgba(129, 129, 127, 0.75) !important;
}

.bg-gold {
    background-color: rgba(255, 217, 0, 0.67) !important;
}

.bg-platinum {
    background-color: rgba(129, 129, 127, 0.75) !important;
}

.silver {
    color: rgba(129, 129, 127, 0.75) !important;
}

.gold {
    color: rgba(255, 217, 0, 0.67) !important;
}

.platinum {
    color: rgba(129, 129, 127, 0.75) !important;
}

.image-level {
    padding-top: 15px;
    max-width: 100px !important;
    display: block;
    margin: auto;
}

.text-center {
    text-align: center !important;
}

.ptop2 {
    padding-top: 1rem;
}

.session a {
    color: #000 !important;
    font-weight: 400;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    padding-left: 0 !important;
}